<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Signin Template for Webapp</title>

<!-- Bootstrap core CSS/JS -->
<link
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />


<!-- Custom styles for this template -->
<link href="../../css/signin-layout.css"
	th:href="@{/css/signin-layout.css}" rel="stylesheet" />

<!--Caution: Include jquery before bootstrap js :D -->
<script	th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body>

	<div class="container">

		<div th:if="${param.containsKey('error')}"
			th:switch="${param.error}"
			class="alert alert-warning alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
			</button>
			<span th:case="usernameEmpty" th:text="#{error.username.cant.empty}">Username
				can't be empty</span> <span th:case="badCredential"
				th:text="#{error.incorrect.credential}">Incorrect username or
				password</span> <span th:case="userLocked"
				th:text="#{error.account.locked}">Your account has been
				locked. Contact your admin.</span> <span th:case="unknown"
				th:text="#{error.try.again}">Error! Try again.</span>
		</div>
		
		<form class="form-signin" role="form" th:action="@{/login-check}"
			method="post">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" name="j_username" class="form-control"
				placeholder="username" /> <input type="password" name="j_password"
				class="form-control" placeholder="Password" />

			<div class="checkbox">
				<label class="checkbox"> 
					<input class="checked-agree" type="checkbox" name="remember-me" value="true" />Remember Me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>

	</div>
	<!-- /container -->


	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript"
		src="../../js/ie10-viewport-bug-workaround.js"
		th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>